

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html>

<head>
  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
   <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">  -->
  <link rel="stylesheet" type="text/css" href="static/style.css">

   <script src="https://www.google.com/reCAPTCHA/api.js" async defer></script>

</head>
<body>








<form method="POST" enctype=multipart/form-data action="">

<div style="background-color:#f9f9f9">
  
  <div title="Contact Details"><i></i> <button> Contact</button></div>
  <div style="display:none">
    
      <em>Please send your response to</em> <br>
      <i></i> <b>Ms. Sakshi Arora /Ms. Shreya Sharma,</b> <br>
      <i></i> Economic Affairs Division, FICCI, Federation House, 1, Tansen Marg, New Delhi - 110001; <br>
      <i></i> Fax – 011-23320714, 23721504 <br>
      <i></i> Email – <a href="mailto:sakshi.arora@ficci.com" target="_blank">sakshi.arora@ficci.com</a> / <a href="mailto:shreya.sharma@ficci.com" target="_blank">shreya.sharma@ficci.com</a>
  </div>



<div style="width:1000px;margin:0px auto;background-color:#f9f9f9">
<div align="center">
<img src="static/ficci.jpg" width="50px" style="margin-bottom:5px"><br clear="all">
<strong style="font-size:14px">FEDERATION OF INDIAN CHAMBERS OF COMMERCE AND INDUSTRY</strong><br>
<div style="padding-top:10px"><strong>Economic Outlook Survey</strong></div></div>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="center" valign="top"><form name="0.1_form1" method="post" target="_blank" onsubmit="try {return window.confirm(&quot;This form may not function properly due to certain security constraints.\nContinue?&quot;);} catch (e) {return false;}">
  
    <table width="100%" border="0" cellpadding="3" cellspacing="0" style="margin-top:20px">
        <tr>
          <td width="4%"><b>i)</b></td>
          <div class="form-group">

          <td width="29%" style="padding-left:10px"><b>Name &amp; Designation</b></td>
          <td width="67%">
            <input type="text" name="namee" value="" style="width:90%"  maxlength="25" required></td>
                  

        </tr>
        <tr>
          <td><b>ii)</b></td>
          <td style="padding-left:10px"><b>Company Name</b></td>
          <td>
            
              <textarea name="desig" cols="30" rows="5" style="width:90%;background-color:#dedad2" maxlength="30" required ></textarea>
          </td>
        </tr>
        <tr>
          <td><b>iii)</b></td>
          <td style="padding-left:10px"><b>Email</b></td>
          <td><input type="email" name="email" value="" style="width:90%" maxlength="20" required></td>
        </tr>
        <tr>
          <td><b>iv)</b></td>
          <td style="padding-left:10px"><b>Mobile</b></td>
          <td><input type="number" name="mobile" value="" style="width:90% " maxlength="10" required></td>
        </tr>
      </table>
    <input type="hidden" value="" name="tot">
      <h3><strong>Part A</strong></h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="3">
        <tr>
          <td width="5%" valign="top"> </td>
          <td width="35%" valign="top"><strong>Macroeconomic Indicators</strong></td>
          <td width="15%" align="center" valign="top"><strong>April-June<br>
            (Q4 2019-20)</strong></td>
          <td width="15%" align="center" valign="top"><strong>July-September<br>
            (Q1 2019-20)</strong></td>
          <td width="15%" align="center" valign="top"><strong>2019-20</strong></td>
          <td width="15%" align="center" valign="top"><strong>2020-21</strong></td>
        </tr>
        <tr>
          <td valign="top">1.</td>
          <td valign="top">            <strong>GDP growth rate at market prices (%)</strong><br>
            <em>(base year 2011-12 and new methodology)</em></td>
          <td align="center" valign="middle"><input type="text" name="sec1a" value=""   required></td>
          <td align="center" valign="middle"><input type="text" name="sec1b" value=""   required></td>
          <td align="center" valign="middle"><input type="text" name="sec1c" value=""   required></td>
          <td align="center" valign="middle"><input type="text" name="sec1d" value=""   required></td>
        </tr>
        <tr>
          <td valign="top">2.</td>
          <td valign="top"><strong>GVA at basic prices at constant prices </strong><br>
            <em>(base year 2011-12 and new methodology)</em></td>
          <td align="center" valign="middle"><input type="text" name="sec2a" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec2b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec2c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec2d" value="" required></td>
          </tr>
        <tr>
          <td valign="top"> </td>
          <td valign="top">Agriculture &amp; Allied</td>
          <td align="center" valign="middle"><input type="text" name="sec2e" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec2f" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec2g" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec2h" value="" required></td>
          </tr>
        <tr>
          <td valign="top"> </td>
          <td valign="top">Industry</td>
          <td align="center" valign="middle"><input type="text" name="sec2i" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec2j" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec2k" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec2l" value="" required></td>
          </tr>
        <tr>
          <td valign="top"> </td>
          <td valign="top">Services</td>
          <td align="center" valign="middle"><input type="text" name="sec2m" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec2n" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec2o" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec2p" value="" required></td>
          </tr>
        <tr>
          <td valign="top">3.</td>
          <td valign="top"><strong>Gross Domestic Saving (% of GDP)</strong><br>
            <em>(base year 2011-12 and new methodology)</em></td>
          <td align="center" valign="middle"><input type="text" name="sec3a" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec3b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec3c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec3d" value="" required></td>
          </tr>
        <tr>
          <td valign="top">4.</td>
          <td valign="top"><strong>Gross Fixed Capital Formation (% of GDP at current market prices)</strong><br>
            <em>(base year 2011-12 and new methodology)</em></td>
          <td align="center" valign="middle"><input type="text" name="sec4a" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec4b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec4c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec4d" value="" required></td>
          </tr>
        <tr>
          <td valign="top">5.</td>
          <td valign="top"><strong>Fiscal Deficit (as % to GDP) </strong><br>
            <em>Central Government</em></td>
          <td align="center" valign="middle"><input type="text" name="sec5a" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec5b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec5c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec5d" value="" required></td>
          </tr>
        <tr>
          <td valign="top">6.</td>
          <td valign="top"><strong>Growth in IIP (%) </strong></td>
          <td align="center" valign="middle"><input type="text" name="sec6a" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec6b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec6c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec6d" value="" required></td>
          </tr>
        <tr>
          <td valign="top">7.</td>
          <td valign="top"><strong>WPI All Commodities Inflation rate (%)</strong><br></td>
          <td align="center" valign="middle"><input type="text" name="sec7a" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec7b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec7c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec7d" value="" required></td>
          </tr>
        <tr>
          <td valign="top">8.</td>
          <td valign="top"><strong>CPI Combined New Inflation rate (%)</strong><br>
            <em>(base year 2012)</em><br></td>
          <td align="center" valign="middle"><input type="text" name="sec8a" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec8b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec8c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec8d" value="" required></td>
          </tr>
        <tr>
          <td valign="top">9.</td>
          <td valign="top"><p><strong>Prime Lending Rate (%)</strong></p></td>
          <td align="center" valign="middle"><input type="text" name="sec9a" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec9b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec9c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec9d" value="" required></td>
          </tr>
        <tr>
          <td valign="top">10.</td>
          <td valign="top"><strong>Money supply growth (M3) (%)</strong><br>
            <em>(end period)</em></td>
          <td align="center" valign="middle"><input type="text" name="sec10a" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec10b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec10c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec10d" value="" required></td>
          </tr>
        <tr>
          <td valign="top">11.</td>
          <td valign="top"><strong>Bank credit growth (%)</strong></td>
          <td align="center" valign="middle"><input type="text" name="sec11a" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec11b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec11c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec11d" value="" required></td>
          </tr>
        <tr>
          <td valign="top">12.</td>
          <td valign="top"><strong>Repo Rate</strong><br>
            <em>(end period)</em></td>
          <td align="center" valign="middle"><input type="text" name="sec12a" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec12b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec12c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec12d" value="" required></td>
          </tr>
        <tr>
          <td valign="top">13.</td>
          <td colspan="5" valign="top" style="padding:10px"><strong>Merchandise Export </strong></td>
        </tr>
        <tr>
          <td valign="top"> </td>
          <td valign="top">Value in USD billion</td>
          <td align="center" valign="middle"><input type="text" name="sec13e" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec13f" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec13g" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec13h" value="" required></td>
          </tr>
        <tr>
          <td valign="top"> </td>
          <td valign="top">Growth (%)</td>
          <td align="center" valign="middle"><input type="text" name="sec13i" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec13j" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec13k" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec13l" value="" required></td>
          </tr>
        <tr>
          <td valign="top">14.</td>
          <td colspan="5" valign="top" style="padding:10px"><strong>Merchandise Import </strong></td>
          </tr>
        <tr>
          <td valign="top"> </td>
          <td valign="top">Value in USD billion</td>
          <td align="center" valign="middle"><input type="text" name="sec14e" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec14f" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec14g" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec14h" value="" required></td>
          </tr>
        <tr>
          <td valign="top"> </td>
          <td valign="top">Growth (%)</td>
          <td align="center" valign="middle"><input type="text" name="sec14i" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec14j" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec14k" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec14l" value="" required></td>
          </tr>
        <tr>
          <td valign="top">15.</td>
          <td valign="top"><p><strong>Trade Balance (% to GDP at current price)</strong></p></td>
          <td align="center" valign="middle"><input type="text" name="sec15a" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec15b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec15c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec15d" value="" required></td>
          </tr>
        <tr>
          <td valign="top">16.</td>
          <td colspan="5" valign="top" style="padding:10px"><strong>Current Account Balance</strong></td>
          </tr>
        <tr>
          <td valign="top"> </td>
          <td valign="top">Value in USD billion</td>
          <td align="center" valign="middle"><input type="text" name="sec16e" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec16f" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec16g" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec16h" value="" required></td>
          </tr>
        <tr>
          <td valign="top"> </td>
          <td valign="top">as % of GDP at current price </td>
          <td align="center" valign="middle"><input type="text" name="sec16i" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec16j" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec16k" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec16l" value="" required></td>
          </tr>
        <tr>
          <td valign="top">17.</td>
          <td valign="top"><strong>US$ / INR exchange rate </strong><br>
            <em>(end period)</em></td>
          <td align="center" valign="middle"><p>
            <input type="text" name="sec17a" value="">
            </p></td>
          <td align="center" valign="middle"><input type="text" name="sec17b" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec17c" value="" required></td>
          <td align="center" valign="middle"><input type="text" name="sec17d" value="" required></td>
          </tr>
    </table>
      <br>
      <table width="90%" border="0" cellspacing="5" cellpadding="5">
        <tr>
          <td colspan="2" align="center" valign="top"><strong>Part B</strong></td>
        </tr>
        <tr>
          <td valign="top" colspan="2">
      <strong>1. The global trade outlook remains under cloud. The World Trade Organization in its latest forecast has revised down the global trade growth projection for the year 2019 to 2.6% from an earlier estimate of 3.7% in wake of growing protectionism and economic uncertainty. This will have a bearing on India’s trade prospects as well. Additionally, the United States’ withdrawal of Generalized System of Preferences (GSP) benefits to India has emerged as a fresh concern. How do you see India’s exports performance in the year 2019 and what steps do you think we can take to deal with developments such as the US withdrawal of GSP benefits? </strong>
      </td>
          
        </tr>
    <tr>
      <td valign="top" colspan="2">
      <ol type="a">
        <li>According to your estimates, what is India’s potential growth rate?</li>
      </ol>
        <div style="padding:0px 35px">
        <textarea name="part1a" cols="120" rows="8"></textarea>
        </div>
      </td>  
      
    </tr>
    <tr>
      <td valign="top" colspan="2">
      <ol start="2">
        <li>What should be the country’s strategy to reach its potential growth?</li>
      </ol>
        <div style="padding:0px 35px">
        <textarea name="part1b" cols="120" rows="8"></textarea>
        </div>
      </td>  
    </tr>
     <tr>
        <td valign="top" colspan="2">
      <ol start="3">
        <li>Given the persistent headwinds, do you think the country will be able to emulate its previous high growth performance of over 8.0% growth and sustain it? If yes, by when is a turnaround likely?</li>
      </ol> 
        <div style="padding:0px 35px">
        <textarea name="part1c" cols="120" rows="8"></textarea>
        </div>
      </td>
      </tr>
        
        <tr>
          <td valign="top"><strong>2.</strong></td>
          <td valign="top"><strong>The latest unemployment numbers released by NSSO re-affirm the grim situation with regard to employment in the country. Availability of adequate and high quality jobs persists to be one of the biggest challenges at hand. Even though the new age sectors like e-commerce, aggregator service providers have created jobs, but these seem far from adequate. Also, the latest data reveals continued over-dependence on the farm sector for employment. According to you, what should be the strategy to address this situation? In your assessment, which sectors hold the potential to add maximum jobs?</strong></td>
        </tr>
        <tr>
          <td valign="top"> </td>
          <td valign="top"><textarea name="part2" cols="120" rows="10"></textarea></td>
        </tr>
        <tr>
          <td valign="top"><strong>3. </strong></td>
          <td valign="top"><strong>The Reserve Bank of India has eased India’s monetary policy stance to accommodative while delivering a third consecutive repo rate cut in the June 2019 policy review. The repo rate has been revised down to 5.75% - which is the lowest since 2010 indicating a clear emphasis on growth considerations.</strong></td>
        </tr>
     <tr>
     <td colspan="2" valign="top">
      <ol start="a">
        <li>What is your outlook on the monetary policy for this year (until December 2019)? If you could state your reasons.</li>
       </ol>
       <div style="padding:0px 35px">
        <textarea name="part3a" cols="120" rows="8"></textarea>
        </div>
    </td>
      </tr>
      <tr>
       <td>
         <ol start="b">
        <li>The deposit growth remains tardy and the mismatch with the lending growth limits the ability of the banks to transmit the cuts in the repo rate. Also, the government spending has been low and the liquidity situation tight. Amid this situation what should be the strategy to ensure the effectiveness of monetary policy?</li>
          </ol>
       </td>
      </tr>
        <tr>
          <td height="173" valign="top"> </td>
          <td valign="top"><textarea name="part2a" cols="120" rows="10"></textarea></td>
        </tr>
        <tr>
          <td valign="top"><strong>4.</strong></td>
          <td valign="top"><strong>India is in the midst of general elections and by end of May 2019 the country will have a new government. In your view, what are the top 3 priorities with regard to the economy which the new government should pursue?</strong></td>
        </tr>
        <tr>
          <td valign="top"> </td>
          <td valign="top"><textarea name="part3a" cols="120" rows="10"></textarea></td>
          </tr>
      
      <tr>
        <td></td>
      <td align="center">

        <div align="center" style="padding-bottom:10px">
      <div style="padding-left:3rem"><b>Captcha </b><br>
          <img><br>
      </div>
      <!-- <input name="captcha_code" type="text" value="">
      <div style="padding-left:3rem">
        Can&#39;t read the image? click <a>here</a> to refresh.
      </div> -->
      <b>Upload your documents</b>
      <input type="file" name="files"   multiple="" />

      </div>

      </td>
      </tr>
      
      <tr>
        <td colspan="2" align="center">
          <div class="form-group">
                <button>Submit</button>
            </div>      
          </td>
      </tr>
  </table>
      <p> </p>
    </form></td>
  </tr>
</table>
</div>
</div>

</body>
</html>